@font-face {
    font-family: 'PingFang-SC-Regular';
    src: url("../assets/font/PingFang-SC-Regular.otf");
    font-weight: normal;
    font-style: normal;
}

.main {
    height: 100%;
}

html {
    font-size: 16px;
    font-family: PingFang-SC-Regular, sans-serif;
    user-select: none;
}
*{
    margin: 0;
    padding: 0;
}

