@import './variables.styl'

get_background($color)
  //默认样式（任意选择一个主题即可注意要和下面的默认主题一致）
  background: darkMode[$color];
  for item in themeList
    //判断html的data-theme的属性值，{}是Stylus插值
    [data-theme = {item.name}] & {
      //这里的item可以当作一个对象，item[$color]可表示为：对象名.属性
      background: item[$color];
    }


get_font_color($color)
  color: darkMode[$color];
  for item in themeList
    [data-theme = {item.name}] & {
      color: item[$color];
    }

get_border_color($color)
  border-color: darkMode[$color];

  for item in themeList
    [data-theme = {item.name}] & {
      border-color: item[$color];
    }

get_background_image($name)
  background-image: darkMode[$name];

  for item in themeList
    [data-theme = {item.name}] & {
      background-image: item[$name];
    }

._input{
  get_background(input_background)
  get_font_color(font_color)
  border-radius 0.4rem
  padding-left: 0.6rem
  border: none
}
._button{
  text-align center;
  background-color: #FDA45E;
  border-radius 0.4rem;
  width: 75%
  height: 2rem
  line-height @height;
  margin: 0 auto;
  get_font_color(font_color)
}
._select{
  border-radius 0.4rem
  width 100%
  height: 2rem
  border: none
  padding-left: 0.6rem
  get_background(select_background)
  get_font_color(font_color)
  appearance: none;
}
