brightMode = {
  name: 'bright'
  font_color: #2B3345
  background: #EDEDED

  clock_background: #fff
  clock_border_color: #fff
  clock_minute_background: #DFDFDF
  clock_minute_after_background: #fff
}


darkMode = {
  name: 'dark'
  font_color: #fff
  background: #1C1D1E

  clock_background: #1C1D1E
  clock_border_color: #23272b
  clock_minute_background: #4d5054
  clock_minute_after_background: #1C1D1E
}



themeList = (brightMode darkMode)