brightMode = {
  name: 'bright'
  font_color: #2B3345
  background: #EDEDED

  clock_background: #fff
  clock_border_color: #fff
  clock_minute_background: #DFDFDF
  clock_minute_after_background: #fff
  student_info_background: #f6f6f6
  next_course_info_background: #fff
  student_item_background: #b7b7b7

  curriculum_section_background: #fff
  curriculum_section_course_item_odd_background: #ececec
  curriculum_section_course_item_even_background: #fff
  curriculum_course_detail_background: #EDEDED
  curriculum_timeline_border_color: #EDEDED

  borrow_wrap_background: #fff
  borrow_change_button_background: #dedede
  borrow_date_item_background: #ffffff
  borrow_date_selected_background: #dfdfdf
  borrow_reason_content_background: #dfdfdf

  input_background: #DFDFDF
  option_background: #DFDFDF

  setting_panel_bancground: #ffffff

  select_background: #DFDFDF url("~@/assets/icon/down.png") 97% 50% \/ 0.9rem no-repeat
  select_background_focus: #DFDFDF url("~@/assets/icon/down.png") 97% 50% \/ 0.9rem no-repeat

  message_box_background: rgba(178,178,178,0.5)
  confirm_box_background: #ababab

  back_button_background_image: url('~@/assets/icon_bright/back_home_bright.png')

  patrol_course_info_background: #ffffff
  patrol_bottom_background: #ffffff

  open_number_background: linear-gradient(180.01deg, rgba(255, 255, 255, 0) -13.04%, #C7C7C7 137.67%)
  open_number_border_color: #FDFDFD
  open_button_background: #C7C7C7
  open_password_background: #fff
}


darkMode = {
  name: 'dark'
  font_color: #fff
  background: #212326

  clock_background: #1C1D1E
  clock_border_color: #23272b
  clock_minute_background: #4d5054
  clock_minute_after_background: #1C1D1E
  student_info_background: #25282d
  next_course_info_background: #25292e
  student_item_background: #7f8183

  curriculum_section_background: #424851
  curriculum_section_course_item_odd_background: #33393f
  curriculum_section_course_item_even_background: #2f333a
  curriculum_course_detail_background: #575D67
  curriculum_timeline_border_color: #2F333A

  borrow_wrap_background: rgba(66,72,81,0.4)
  borrow_change_button_background: #424851
  borrow_date_item_background: linear-gradient(95.11deg, #777F89 4.67%, rgba(66, 72, 81, 0.0001) 97.19%)
  borrow_date_selected_background: #677181
  borrow_reason_content_background: #24272B

  input_background: #424851
  option_background: #575D67

  setting_panel_bancground: rgba(66,72,81,0.25)

  select_background: #424851 url("~@/assets/icon/down.png") 97% 50% \/ 0.9rem no-repeat
  select_background_focus: #677181 url("~@/assets/icon/down.png") 97% 50% \/ 0.9rem no-repeat

  message_box_background: #57575780
  confirm_box_background: #2D2D2D

  back_button_background_image: url('~@/assets/icon/back_home_dark.png')

  patrol_course_info_background: #424851
  patrol_bottom_background: rgba(66,72,81,0.4)

  open_number_background: linear-gradient(0, rgba(28, 28, 28, 0) -13.04%, #24272B 137.67%)
  open_number_border_color: #3F3F3F
  open_button_background: #26292E
  open_password_background: #292c31
}

themeList = (brightMode darkMode)

